body{
  font-family: "Proxima Nova", Times, serif;
  color: #FAFAFC;
  background: #1C1C1E;
  margin: 0;
  letter-spacing: .07em;
}

.title-headings{
  text-transform: uppercase;
  letter-spacing: .07em;
  font-size: 2.5rem;
  margin: 1rem;
  padding: 1rem 1rem 1rem 1.5rem;
}

.sub-headings{
  text-transform: uppercase;
  letter-spacing: .15em;
  margin: 2rem 1rem 1rem 1rem;
  padding: 1rem;
  color: #D1D1D1;
  border-bottom: 2px solid #D1D1D1;
}

.project-heading{
  text-transform: uppercase;
  letter-spacing: .15em;
  /*text-align: center;*/
  margin: 2rem .5rem .5rem .5rem;
  padding: 1rem;
  color: #1C1C1E;
}

.project-subheading{
  text-transform: uppercase;
  letter-spacing: .15em;
  margin-top: 0;
  font-size: .75rem;
  margin: 0 1rem 1rem 1rem;
  padding-left: .5rem;
  padding-bottom: 1rem;
  color: #BFBFBF;
}

.project-title-container{
  border-left: 8px solid #36FFFF;
}

.project-info-text{
  font-size: 1rem;
  font-weight: normal;
  color: #535354;
  padding: 1rem 3rem 0 2rem;
}

#blue-1{
  height:150px;
  background:#4820F2;
  box-shadow: 0px 7px 20px black;

}

#blue-2{
  height:150px;
  background:#7679F9;
  box-shadow: 0px 7px 20px black;

}

#blue-3{
  height:150px;
  background:#A4D2FF;
  box-shadow: 0px 7px 20px black;

}

#black-1{
  height:150px;
  background:#1C1C1E;
  box-shadow: 0px 7px 20px black;

}

#black-2{
  height:150px;
  background:#FAFAFC;
  box-shadow: 0px 7px 20px black;

}

#black-3{
  height:150px;
  background:#36FFFF;
  box-shadow: 0px 7px 20px black;

}

.project-placeholder{
  margin: 0;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  height:650px;
  background: #A4D2FF;
}

.background-inverse-container{
  display: inline-block;
  width: 100%;
  margin: 3rem 0 3rem 0;
  color:#1C1C1E;
  background: #FAFAFC;
  box-shadow: 0px 7px 20px black;

}

.background-container{
  display: inline-block;
  width: 100%;
  margin: 3rem 2rem 3rem 2rem;
  color:#FAFAFC;
  background: #1C1C1E;
}

.inverse-text{
  color: #1C1C1E;
  padding: 1rem 2rem 1rem 2rem;
  margin: 1rem 0rem 0rem 1rem;
}

.project-info-block{
  display: block;
}

.project-image-block{
  display: block;
  vertical-align: middle;
  margin: 3rem 0rem 3rem 0;
}

.project-img{
  width: 100%;
}

.about-img{
  width: 90%;
}

.blocks{
  font-size: 1rem;
  justify-content: center;
  text-align: center;
  font-weight: bold;
  color:white;
  letter-spacing: 5px;
  padding: 4rem;
}

.blocks-inverse{
  font-size: 1rem;
  justify-content: center;
  text-align: center;
  font-weight: bold;
  color:#1C1C1E;
  letter-spacing: 5px;
  padding: 4rem;
}

.u-list-about{
  color: #1C1C1E;
  font-size: 1.5rem;
  padding: 1rem 2rem 0 5rem;
  font-size: 1.2rem;
  font-weight:bold;
  letter-spacing: 2px;
  text-transform: uppercase;
}


.u-list-about-item{
  list-style-type: circle;
  text-transform: none;
  font-weight:normal;
  font-size: .9rem;
  margin-left: 5rem;
  padding: .5rem;
}


.o-list-number{
  text-transform: none;
  font-weight:bolder;
  color: #4820F2;
  font-size: 1rem;
  margin-left: 3rem;
  padding: .5rem;
  text-transform: uppercase;
}

.sidenav{
  display: table-cell;
  vertical-align: middle;
  float: left;
  z-index: 1;
  background: #141414;
  /*background: white;*/
  box-shadow: 0px 7px 20px black;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
}

.nav-items{
  padding: 1rem 0 1rem 0;
  margin: 23rem 0 0 0;
  display: inline-block;
}


.nav-text{
  color: #36FFFF;
  opacity: .75;
  text-align: left;
  padding: .35rem 1.7rem .35rem 1.7rem;
  font-size: .8rem;
  font-weight: 400;
  letter-spacing: 5px;
  text-shadow: 0px 5px 20px black;
}

.nav-text:hover{
  opacity: 1;
  cursor: pointer;
  /*text-align: center;*/
}
.body-content{
  margin: 0 0 0 8rem;
  padding: 0 0 0 1.5rem;
  background: #1C1C1E;
}

.intext-link{
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 600;
  color:#4820F2;
  opacity: .6;
}

.intext-link:hover{
  opacity: 1;
  cursor: pointer;
}

.role-text{
  background: #FAFAFC;
  text-transform: uppercase;
  color: #36FFFF;
  font-size: 1rem;
  padding: .2rem 1.5rem;
  border-radius: 50px;
  border: 2px solid #36FFFF;
  margin: 0 .5rem 0 0;
  display: inline-block;
  transition: .5s;
}

.role-text:hover{
  background: #36FFFF;
  text-transform: uppercase;
  color: #FAFAFC;
  font-size: 1rem;
  padding: .2rem 1.5rem;
  border-radius: 50px;
  border: 2px solid #36FFFF;
  margin: 0 .5rem 0 0;
  display: inline-block;
  transition:.5s;
}

.role-components{
  display: block;
  margin:0 2rem 2rem 2rem;
}

.bttn-next{
  padding: 1rem;
  margin: 1rem;
  border
}

#circle {
    background: #f00;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.project-card-container{
  display: block;
  margin: 0 1rem 0rem 1rem;
}
.project-card{
  height:400px;
  background: #4820F2;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  display: block;
  box-shadow: 0px 7px 20px black;
}

.project-text-bg{
  background: #FAFAFC;
  border-bottom-right-radius:10px;
  border-bottom-left-radius:10px;
  display: block;
  box-shadow: 0px 7px 20px black;
}

.project-text{
  text-align: center;
  font-size: 1rem;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #1C1C1E;
  margin: 0;
  padding: 2rem 4rem 2rem 4rem;

}

.gif{
  position:relative;
  top:0;
  bottom:0;
  left:0;
  right:0;
  width: 100%;
  margin-bottom: 1rem;
}
.tint {
  margin: 0;
  cursor: pointer;
}

.t1{
  background: rgb(255,0,0,.5);
}

.header-container{
  width: 100%;
  margin: 0;
  top:0;
  left: 0;
  right: 0;
  position: relative;
  text-align: center;
  color: white;
}
.text-container{
  z-index: 1;
}
.header{
  /*z-index: 1;*/
  font-size: 5rem;
  text-transform: uppercase;
  position: absolute;
}

.hero-image{
  /*background-image:*/
  position:relative;
  top:0;
  bottom:0;
  left:0;
  right:0;
  width: 100%;
}
.centered {
    position: relative;
    font-size: 6rem;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-align: right;
    margin: 0;
    color: #FAFAFC;
    text-shadow: -5px 10px 45px black;
}
.text-header{
  text-align: right;
  position: absolute;
  z-index: 10;
  top:30%;
  left: 15%;
  /*background-color: black;*/

}
.centered-2 {
    position: relative;
    font-size: 1rem;
    margin: 0;
    /*text-transform: uppercase;*/
    letter-spacing: 5px;
    text-align: right;
}
.overlay {
    z-index: 1;
    height: 100%;
    width: 100%;
    position: fixed;
    overflow: auto;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.7); /*can be anything, of course*/
}

.header-gif{
width: 100%;
margin: 0;
}

.overlay{
  background-color: #4820F2;
  z-index: 1;
}

a{
  text-decoration: none;
}

.about-image{
  width: 30%;
  text-align: center;
}
.me-image-container{
  display: block;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: relative;
}
.about-me-heading{
  text-align: center;
    text-transform: uppercase;
    letter-spacing: .15em;
    margin: 2rem .5rem .5rem .5rem;
    padding: 1rem;
    color: #1C1C1E;
}

.about-me-subheading{
  font-style: italic;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: .15em;
  margin-top: 0;
  font-size: .75rem;
  margin:0;
  padding-bottom: 1rem;
  color: #BFBFBF;
}

.about-me-info-text{
  font-size: 1rem;
  font-weight: normal;
  color: #535354;
  /*padding: 1rem 2rem 0 5rem;*/
}

.captions{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .15em;
    font-size: .75rem;
    padding:.5rem;
    color: #BFBFBF;
}

.about-image-block{
  display: block;
  vertical-align: middle;
  margin: 3rem 0rem 3rem 0;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: relative;
}

.about-role-components{
  display: block;
  /*padding:1rem 2rem 0 5rem;*/
}

.about-info-text{
  font-size: 1rem;
  font-weight: normal;
  color: #535354;
  padding: 1rem 3rem 0 2rem;
}

.about-content{
  padding:1rem 2rem 0 5rem;
  display: block
}

.about-contact{
  padding:1rem 0 0 0;
  margin: 0;
  text-align: left;
}

.about-info-text{
  font-size: 1rem;
  font-weight: normal;
  color: #535354;
  padding: 0;
}

.projects-container{
  padding:1rem;
  display: block
}
